<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %> 

    <% let mario = "Hey I am Mario" %>  <!-- write javaScript code  -->

    <p>I am in about page</p>
    <p><%= mario %> </p> <!-- write javaScript code output into html  -->
</body>

</html>